<h1 class="w3-text-teal">Edit <%= @app.name %></h1>

<%= form_for @app do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :app_url %>
  <%= f.text_field :app_url %>

  <%= f.submit %>
<% end %>
<%= link_to "Delete", @app, method: :delete %>
<br />
<%= link_to( @app, method: :delete) do %>
<% end %>