<h1 class="w3-text-teal" style="display:inline;">
<% if @popular.key?(@app.name.downcase) %>
	<a href=http://<%= @app.app_url %>><img src=<%= @popular[@app.name.downcase] %>></a>
<% end %>
<%= @app.name %>
</h1>
<a href=<%= edit_app_path(@app) %>><button class="button">Edit App</button></a>

<h3><span class="w3-text-teal">Accounts</span> <a href=<%= new_app_account_path(@app) %> class="plus">(+)</a></h3>

<% if @app.accounts.length == 0 %>
<p>Looks like you haven't created any <%= @app.name %> accounts. Click the (+) button above to get started!</p>
<% end %>
<% if @app.accounts.length > 0 %>
<ul style="list-style: none; padding-left:0;">
  <% @app.accounts.each do |account| %>
    <li><%= link_to "#{account.username}", app_account_path(@app, account) %></li>
  <% end %>
</ul>
<% end %>
