<!DOCTYPE html>
<html>
  <head>
    <title>SmartUser</title>
     <link rel="icon" type="image/png" href="/assets/images/Login-toolbar-32.png" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |type, message| %>
  <p class="<%= type %>"><%= message %></p>
<% end %>
  	<h1>SmartUser</h1>
  	<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/apps">Your Apps</a>
  	</nav>
    <%= yield %>
  </body>
</html>
