<% warnings = 0 %>
<% site = 'https://haveibeenpwned.com/api/v2/breachedaccount/' %>
<% username = "#{@account.username}" %>
<% breaches = HTTParty.get(site+username) %>
<h1 class="w3-text-teal">Account Details</h1>
<a href=<%= edit_app_account_path(@app, @account) %>><button class="button">Edit Account</button></a>
<p><b><span class="w3-text-teal">Username:</span> <%= @account.username %></b></p>
<% if @account.email.length > 0 %> 
<p><b><span class="w3-text-teal">Email:</span> <%= @account.email %></b></p>
<% end %>
<!-- No breaches return an array length of 14, I don't know why -->
<% if breaches.length == 1 %>
	<% warnings += 1 %>
	<p style="color:red;""><b>Careful, an account "<%= @account.username %>" has been comprimised on a site!</b></p>
	<button class="button" onclick="showHidePass()">Show Password</button>
	<button class="breachbutton" onclick="showHideBreach()">Show Breaches</button>
	<br />
<% elsif breaches.length != 14 %>
	<% warnings += 1 %>
	<p style="color:red;""><b>Careful, an account "<%= @account.username %>" has been comprimised on <%= breaches.length %> sites!</b></p>
	<button class="button" onclick="showHidePass()">Show Password</button>
	<button class="breachbutton" onclick="showHideBreach()">Show Breaches</button>
<% else %>
	<button class="button" onclick="showHidePass()">Show Password</button>
<% end %>
<!-- haveibeenpwned API --> 
<div id="breaches" style="display: none;">
<p class="w3-text-teal">Data provided by <a href="https://haveibeenpwned.com/">haveibeenpwned.com:</a></p>
<div style="display:flex; align-content:flex-start; flex-wrap: wrap;">
<% if breaches.length != 14 %>
	<% breaches.each do |breach| %>
		<div class="breach" style="width:45%; height:45%; margin: 5px">
			<ul style="list-style: none; padding-left:0;">
			<li><span style="color:red">Site: </span><a href="http://<%= breach["Domain"] %>"><%= breach["Title"] %></a></li>
			<li><span style="color:red">Date Breached: </span> <%= breach["BreachDate"] %></li>
			<li><span style="color:red">Description: </span> <%= breach["Description"].html_safe %></li>
			</ul>
		</div>
	<% end %>
<% end %>
</div>
</div>
<br />
<!-- Password/Strength Info-->
<div id="password" style="display: none">
	<p><b><span class="w3-text-teal">Password:</span> <%= @account.password %></b></p>
	<!-- Warnings -->
	<p style="color: red"><b>Safety Warnings:</b></p>
	<ul style="list-style: none; padding-left:0">
	<!-- Warning: password contains "password" -->
	<% if @account.password.downcase.include? "password" %>
		<% warnings += 1 %>
		<li style="color:red">Consider not including "password" in your password</li>
	<% end %>
	<!-- Warning: password contains username -->
	<% if @account.password.downcase.include? @account.username.downcase %>
		<% warnings += 1 %>
		<li style="color:red">Consider not including your username in your password</li>
	<% end %>
	<!-- Warning: password contains app name -->
	<% if @account.password.downcase.include? @account.app.name.downcase %>
		<% warnings += 1 %>
		<li style="color:red">Dont include "<%= @account.app.name %>" in your password</li>
	<% end %>
	<!-- Warning: password is too short -->
	<% if @account.password.length <= 5 %>
		<% warnings += 1 %>
		<li style="color:red"><%= "Consider making your #{@account.app.name} password longer" %></li>
	<% end %>
	<!-- Warning: password does not contain a number -->
	<% if @account.password =~ /\d/ %>
	<% else %>
		<% warnings += 1 %>
		<li style="color:red"><%= "Consider including a number in your #{@account.app.name} password" %></li>
	<% end %>
	<!-- Warning: password does not contain a string -->
	<% if @account.password =~ /a/ %>
	<% else %>
		<% warnings += 1 %>
		<li style="color:red"><%= "Consider including a letter in your #{@account.app.name} password" %></li>
	<% end %>
	<!-- Warning: password does not contain different case letters -->
	<% if (@account.password =~ /[A-Z]/ && @account.password =~ /[a-z]/) %>
	<% else %>
		<% warnings += 1 %>
	<li style="color:red"><%= "Consider including different case letters in your #{@account.app.name} password" %></li><% end %>
	<!-- Warning: password does not contain a symbol -->
	<% symbols = ["!", "@", "#", "$", "%", "^", "&", "*", "(", ")"] %>
	<% if (@account.password.include? symbols[0]) || (@account.password.include? symbols[1]) || (@account.password.include? symbols[2]) || (@account.password.include? symbols[3]) || (@account.password.include? symbols[4]) || (@account.password.include? symbols[5]) || (@account.password.include? symbols[6]) || (@account.password.include? symbols[7]) || (@account.password.include? symbols[8]) || (@account.password.include? symbols[9]) %>
	<% else %>
		<% warnings += 1 %>
		<li style="color:red"><%= "Consider including a symbol (!, @, #, etc.) in your #{@account.app.name} password" %></li>
	<% end %> 
	<!-- Warning: password is used for other accounts -->
	<% similar = []%> 
	<% @accounts.each do |account| %>
		<% if account.password == @account.password && @account != account %>
			<% similar.push(account.app.name) %>
		<% end %> 
	<% end %>
	
	<% if similar.length > 0 %>
		<% warnings += 1 %>
		<li style="color:red">Consider choosing a unique password. This one matches a password you've used for accounts in these apps: <%= similar.uniq.join(", ") %></li>
	<% end %>
	</ul>
	<% if warnings == 0 %>
	<p style="color:green">None</p>
	<% end %>
</div>

<script>
function showHidePass() {
	var x = document.getElementById('password');
	if (x.style.display === 'none') {
		x.style.display = 'block';
	} else {
		x.style.display = 'none';
	}
	var y = document.getElementById('breaches');
	if (y.style.display === 'block') {
		y.style.display = 'none';
	} else {
		y.style.display = 'none';
	}
}
</script> 
<script>
function showHideBreach() {
	var x = document.getElementById('breaches');
	if (x.style.display === 'none') {
		x.style.display = 'block';
	} else {
		x.style.display = 'none';
	}
	var y = document.getElementById('password');
	if (y.style.display === 'block') {
		y.style.display = 'none';
	} else {
		y.style.display = 'none';
	}
}
</script> 
